.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.fancy { font-family: Amatic SC; font-size: 50px; font-style: normal; font-variant: bold; font-weight: 700; line-height: 50px; } 
.header { font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 35px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 45px; }
.step { font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 45px; }
/* .body { font-family: Petrona; font-size: 35px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 45px; } */
/* ah3 { font-family: Amatic SC; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
ap { font-family: Amatic SC; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
ablockquote { font-family: Amatic SC; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
apre { font-family: Amatic SC; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } */

ul.no-bullets {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
}

.carousel-height {
  min-height: 50vh;
}



/* 
* {
  outline: 1px solid red;
} */